<div class="hero-unit">
  <h1>Welcome to Gitcup!</h1>
  <p>
    Gitcup is an open-source web application that let you and your teammates have fun while at work.
  </p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
